/*==========global classes========*/

.card-img {
    float: left;
    margin-right: 10px;
}

.heading-style {
    font-size: 30px;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.inp {
    font-size: 30px !important;
}

.margin-10 {
    margin-bottom: 10px;
}

.li-marker {
    list-style-type: disc !important;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-10 {
    padding-left: 40px;
}

.text-style {
    font-size: 16px;
}

.text-style-comments {
    font-size: 1.2em;
}

.text-style-top {
    font-size: 20px;
    line-height: 35px;
}

.tutor-span {
    font-size: 16px;
    text-shadow: 1px 1px 1px grey;
}

.box-shadow {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.flex-header, .flex-header > div[class*='col']{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

@media screen and (max-width: 992px) {
    .logo {
        margin: 0 auto;
    }
}

.center-h {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.row-flex, .row-flex > div[class*='col'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.row-flex-double, .row-flex-double > div[class*='col'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.max-width {
    max-width: 1200px !important;
}

.reset {
    margin: 0 !important;
}

/*============= header ============*/

.header {
    min-height: 300px;
}

.header-poloska {
    min-height: 50px;
}

.logo {
    padding-top: 20px;
}

/*============== section-a ==============*/

.section-a {
    margin-top: 50px;
}

.calc-bord {
    border: 1px solid #004d40;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #fafafa;
    max-height: 500px;
    margin-top: 80px;
    padding-top: 30px;
}

/*============== section-b ==============*/

/*============== section-c ==============*/

/*============== section-d ==============*/

/*============== footer ==============*/

.text-style-footer {
    font-size: 26px;
}